{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
    <style>
        #nav-settings {
            color: #E22C4A;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        <button class="collapsible">
            <b>OPC-UA Settings</b>
        </button>
        <div class="coll-content">
            <div class="setting">
                <form>
                    <label for="opcua-address">OPC-UA Host Address</label>
                    <input type="submit" value="Update" id="submit-opcua-address">
                    <input type="text" id="opcua-address" name="opcua-address" placeholder="192.168.1.250">
                </form>
            </div>
            <div class="setting">
                <form>
                    <label for="opcua-port">OPC-UA Host Port</label>
                    <input type="submit" value="Update" id="submit-opcua-port">
                    <input type="text" id="opcua-port" name="opcua-port" placeholder="4840">
                </form>
            </div>
        </div>
        <button class="collapsible">
            <b>SQLite Settings</b>
        </button>
        <div class="coll-content">
            
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}